In [2]:
import numpy as np
import pandas as pd

In [3]:
# Exercise 1
array1 = np.arange(1, 11).reshape(2, 5)
print("Reshaped Array:\n", array1)

Reshaped Array:
 [[ 1  2  3  4  5]
 [ 6  7  8  9 10]]

In [4]:
# Exercise 2
array2 = np.arange(1, 21)
extracted_elements = array2[5:16]  
print("\nExtracted Elements:", extracted_elements)

Extracted Elements: [ 6  7  8  9 10 11 12 13 14 15 16]

In [5]:
# Exercise 3
data = {'apples': 3, 'bananas': 2, 'oranges': 1}
series = pd.Series(data)
series['pears'] = 4
print("\nUpdated Series:\n", series)

Updated Series:
 apples     3
bananas    2
oranges    1
pears      4
dtype: int64

In [6]:
# Exercise 4
dataframe = pd.DataFrame({
    'name': [f'Person {i+1}' for i in range(10)],
    'age': np.random.randint(20, 45, size=10),
    'gender': ['Male' if i % 2 == 0 else 'Female' for i in range(10)]})
print("\nDataFrame:\n", dataframe)

DataFrame:
         name  age  gender
0   Person 1   28    Male
1   Person 2   30  Female
2   Person 3   41    Male
3   Person 4   30  Female
4   Person 5   27    Male
5   Person 6   31  Female
6   Person 7   34    Male
7   Person 8   44  Female
8   Person 9   36    Male
9  Person 10   30  Female

In [7]:
# Exercise 5
dataframe['occupation'] = ['Programmer', 'Manager', 'Analyst'] * 3 + ['Programmer']
print("\nDataFrame with Occupation:\n", dataframe)

DataFrame with Occupation:
         name  age  gender  occupation
0   Person 1   28    Male  Programmer
1   Person 2   30  Female     Manager
2   Person 3   41    Male     Analyst
3   Person 4   30  Female  Programmer
4   Person 5   27    Male     Manager
5   Person 6   31  Female     Analyst
6   Person 7   34    Male  Programmer
7   Person 8   44  Female     Manager
8   Person 9   36    Male     Analyst
9  Person 10   30  Female  Programmer

In [10]:
# Exercise 6
filtered_dataframe = dataframe[dataframe['age'] >= 30]
print("\nFiltered DataFrame (age >= 30):\n", filtered_dataframe)

Filtered DataFrame (age >= 30):
         name  age  gender  occupation
1   Person 2   30  Female     Manager
2   Person 3   41    Male     Analyst
3   Person 4   30  Female  Programmer
5   Person 6   31  Female     Analyst
6   Person 7   34    Male  Programmer
7   Person 8   44  Female     Manager
8   Person 9   36    Male     Analyst
9  Person 10   30  Female  Programmer

In [11]:
# Exercise 7
dataframe.to_csv('dataframe.csv', index=False)
read_dataframe = pd.read_csv('dataframe.csv')
print("\nCSV Contents:\n", read_dataframe)

CSV Contents:
         name  age  gender  occupation
0   Person 1   28    Male  Programmer
1   Person 2   30  Female     Manager
2   Person 3   41    Male     Analyst
3   Person 4   30  Female  Programmer
4   Person 5   27    Male     Manager
5   Person 6   31  Female     Analyst
6   Person 7   34    Male  Programmer
7   Person 8   44  Female     Manager
8   Person 9   36    Male     Analyst
9  Person 10   30  Female  Programmer